<h1 class="tittle">Добавленные rss-ленты</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Текущая позиция</th>
            <th scope="col">Url</th>
            <th scope="col">Дата добавления</th>
            <th scope="col">Дата обновления</th>
            <th scope="col">Удалить</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rssFeed of rssFeeds | async">
            <td>{{rssFeed.currentPosition}}</td>
            <td>{{rssFeed.url}}</td>
            <td>{{rssFeed.dateCreated| date:'yyyy-MM-dd'}}</td>
            <td>{{rssFeed.dateUpdated| date:'yyyy-MM-dd'}}</td>
            <td><button (click)="delete(rssFeed.idRss)" class="btn btn-danger btn-delete">Удалить</button></td>
        </tr>
    </tbody>
</table>