<!DOCTYPE html>
<html>

<head>
    <title>Информация о разработчике</title>
    <style>
        body {
            font-size: 26px;
        }
    </style>
</head>

<body>
    <h1>Информация о разработчике</h1>
    <p>
        Самарский университет<br>
        Кафедра программных систем<br>
        Выпускная квалификационная работа<br>
        <b>Тема проекта: "Разработка автоматизированной системы полнотекстового поиска по превью новостей в RSS-лентах и
            исследование ее эффективности"<br></b>
        Разработки студента группы 6231-020302D Головой Анастасии Алексеевны<br>
    </p>
</body>

</html>