<h1 class="tittle">Полнотекстовый поиск</h1>
<form [formGroup]="form" class="form-inline">
    <div class="search-block ml-auto">
        <div class="form-group-url-field">
            <a>Поиск по заголовку:</a>
            <input formControlName="searchByTittle" name="searchByTittle" class="form-control size" id="searchByTittle">
        </div>
        <div class="search-desc">
            <a for="searchByTittleOrDescription">Поиск по описанию:</a>
            <input formControlName="searchByTittleOrDescription" name="searchByTittleOrDescription"
                class="form-control size" id="searchByTittleOrDescription">
        </div>
    </div>
    <div class="search-date ml-auto">
        <div class="dx-field">
            <div class="dx-field-label"><a>Дата начала поиска:</a></div>
            <div class="dx-field-value">
                <dx-date-box #dateBox1 id="date" width="10px" displayFormat="yyyy-MM-dd" type="date"
                    (onValueChanged)="onValueChanged($event)"></dx-date-box>
            </div>
        </div>
        <div class="dx-field">
            <a>Дата конца поиска:</a>
            <div class="dx-field-value">
                <dx-date-box #dateBox2 id="date1" width="10px" displayFormat="yyyy-MM-dd" type="date"
                    (onValueChanged)="onValueChanged1($event)"></dx-date-box>
            </div>
        </div>
    </div>
    <div class="search-actions d-flex flex-column">
        <button (click)="searchByTittleOrDescription(findSearch(), findSearchWord(), date, date1)"
            class="new-btn btn btn-success mb-2">Искать</button>
    
        <button (click)="reload()" class="new-btn-update btn btn-success">Очистить фильтры</button>
    </div>
       
</form>
<div class="container">
    <div class="row">
        <div class="col-12 mt-2 mb-1">
            <table class="table table-bordered" style="width: 100%">
                <thead>
                    <tr>
                        <th scope="col">Заголовок</th>
                        <th scope="col">Ссылка</th>
                        <th scope="col">Описание</th>
                        <th scope="col">Дата публикации</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="
                    let new of news
                      | paginate
                        : {
                            itemsPerPage: tableSize,
                            currentPage: page,
                            totalItems: count
                          };
                    let i = index
                  ">
                        <td>{{new.tittle}}</td>
                        <td><a href="{{new.link}}">{{new.link}}</a></td>
                        <td>{{new.description}}</td>
                        <td>{{new.pubDate| date:'yyyy-MM-dd'}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <pagination-controls previousLabel="Назад" nextLabel="Вперед" (pageChange)="onTableDataChange($event)">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>