.new-btn {
  margin-top: -65px;
  margin-left: 220px;
}
.size {
  width: 210px;
}
.table {
  margin-left: -15px;
}
.search-desc{
  margin-top: -135px;
  margin-left: 310px;
}
.new-btn-update {
  margin-top: -94px;
  margin-left: 574px;
}
.dx-field {
  width: 363px;
}