.size {
  width: 210px;
}

.table {
  margin-left: -15px;
}

.search-block {
  display: flex;
  align-items: center;
  margin-right: 10px;
  flex-wrap: nowrap;
}

.dx-field {
  width: 363px;
}

.dx-field-label {
  margin-top: -26px;
  margin-right: 10px;
}

.dx-field-value {
  margin-right: 145px;
}

.searchDate {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 10px;
}

.form-inline {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.form-group-url-field,
.search-desc {
  margin-right: 10px;
  flex: 1 1 auto;
}

.form-group-url-field a,
.search-desc a {
  margin-right: 5px;
}

.search-block {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.search-block .form-inline {
  margin-right: 20px;
}

.search-date{
  margin-right: -117px;
}
