<h1 class="tittle">О сервисе</h1>
<div class="exam_01">
	<a>Полнотекстовый поиск — это комплексный метод поиска, который сравнивает каждое слово
		поискового запроса с каждым словом в документе или базе данных. Полнотекстовый поиск может быть
		полезен, когда нужно искать имя человека в списке или базе данных, слово или фразу в документе, веб-
		страницу в Интернете, товары в интернет-магазине или регулярное выражение. В данном сервисе представлена
		система, которая осуществляет полнотекстовый поиск при помощи технологии Elasticsearch.</a>
</div>