<div class="col-md-6 form">
  <h1 class="text-center">Выбрать rss ленту</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="rss-form">
      <label for="name">Список лент:</label>
      <div class="form-group">
        <select multiple formControlName="feeds">
          <option *ngFor="let rss of rssFeeds">
            {{ rss.url }}
          </option>
        </select>
      </div>
      <button onclick="window.location.href = '/viewNews';" [disabled]="form.invalid"
        class="btn btn-success">Добавить</button>
      <button class="btn btn-danger ml-2 " (click)="onCancel()">Выйти</button>
    </div>
  </form>
</div>