/* You can add global styles to this file, and also import other style files */
/* Add application styles & imports to this file! */
@import 'styles/main.scss';
a {
    cursor: pointer;
}

.app-container {
    min-height: 320px;
    overflow: hidden;
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}

body {
  display: block;
  margin: 0px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
